<ion-header>
  <ion-toolbar class="h-[52px]">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="text-sm uppercase">{{pageTitle}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon [name]="serviceIcon" [ngClass]="
      {'bg-blue-500': menuSelectedBtn == 1,
      'bg-pink-500': menuSelectedBtn == 2,
      'bg-green-500': menuSelectedBtn == 3,
      'bg-yellow-500': menuSelectedBtn == 4
      }" class="text-xl p-1 text-white border-gray-300 rounded-lg border mr-1 shrink-0">
      </ion-icon>
      <ion-icon [name]="currEyeState.icon" (click)="triggerOptionsBtn()" [matTooltip]="currEyeState.tooltip"
        class="!text-xl p-1 text-gray-500 border-gray-400 rounded-full border mx-1"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="absolute inset-0 top-[52px] flex flex-col">
  <mat-progress-bar mode="query" [hidden]="!processing"></mat-progress-bar>
  <div class="w-full h-full p-0 md:p-4 bg-gray-50 overflow-auto flex flex-col">
    <ag-grid-angular class="w-full h-full min-h-[480px] ag-theme-alpine" [suppressPaginationPanel]="true"
      [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowSelection]="'single'" [animateRows]="true"
      [pagination]="true" [paginationPageSize]="20" [localeText]="AG_GRID_PT_LANG"
      (gridReady)="onGridReady()"></ag-grid-angular>
    <div [hidden]="processing"
      class="h-fit py-3 sm:border sm:mt-3 sm:border-gray-400 sm:rounded-md sm:bg-white flex items-center justify-center divide-x divide-gray-400">
      <p class="p-2 w-full text-center text-xs text-gray-500">A visualizar página
        <b>{{agGrid ? agGrid.api.paginationGetCurrentPage() + 1 : '(Processando)'}}</b> de <b>{{agGrid ?
          agGrid.api.paginationGetTotalPages() : '(Processando)'}}</b>.
      </p>
      <div class="h-full w-fit p-1 px-4 flex items-center justify-center gap-1">
        <ion-skeleton-text [hidden]="!processing" class="w-[26px] h-[26px] rounded-full"></ion-skeleton-text>
        <ion-skeleton-text [hidden]="!processing" class="w-[26px] h-[26px] rounded-full"></ion-skeleton-text>
        <div (click)="loadPreviousPage()"
          class="relative w-[26px] h-[26px] ripple-parent p-1 ion-activatable ion-focusable flex items-center justify-center border rounded-full border-gray-300">
          <ion-icon [hidden]="processing"
            [name]="agGrid && agGrid.api.paginationGetCurrentPage() + 1 == 1 ? 'ban-outline' : 'caret-back-outline'"
            class="!text-gray-500"></ion-icon>
          <ion-ripple-effect class="rounded-full"></ion-ripple-effect>
        </div>
        <div (click)="loadNextPage()"
          class="relative w-[26px] h-[26px] ripple-parent p-1 ion-activatable ion-focusable flex items-center justify-center border rounded-full border-gray-300">
          <ion-icon [hidden]="processing"
            [name]="agGrid && agGrid.api.paginationGetCurrentPage() + 1 == agGrid.api.paginationGetTotalPages() ? 'ban-outline' : 'caret-forward-outline'"
            class="!text-gray-500"></ion-icon>
          <ion-ripple-effect class="rounded-full"></ion-ripple-effect>
        </div>
      </div>
    </div>
    <ion-fab cdkDrag [hidden]="currEyeState.status" vertical="bottom" horizontal="end" slot="fixed"
      (cdkDragMoved)="fabMoving($event)">
      <ion-fab-button>
        <ion-icon name="clipboard-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list [side]="xAxisOpener">
        <ion-fab-button (click)="switchMenuBtn(1)">
          <ion-icon name="man-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="switchMenuBtn(2)">
          <ion-icon name="woman-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="switchMenuBtn(3)">
          <ion-icon name="color-fill-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="switchMenuBtn(4)">
          <ion-icon name="flash-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list [side]="yAxisOpener">
        <ion-fab-button (click)="switchMenuBtn(menuSelectedBtn, true)">
          <ion-icon name="reload-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="saveAll()">
          <ion-icon name="save-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="editService()" [hidden]="!selectedService || !isSmallScreen">
          <ion-icon name="create-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="visualizeService()" [hidden]="!selectedService || !isSmallScreen">
          <ion-icon name="eye-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</div>