<div class="flex flex-col justify-center m-2 shrink">
  <h2 class="mx-2 px-4 py-2 uppercase text-gray-500 border-b border-gray-300">
    {{componentTitle}}
  </h2>
  <form [formGroup]="controlGroup"
    class="w-[40rem] max-w-full shrink min-w-[20rem] flex flex-col justify-center items-center">
    <div class="bg-white rounded-lg mb-1 divide-y gap-2 w-full">
      <div class="mb-2 mt-4 mx-4">
        <label for="e-title"
          class="block mb-1.5 text-start ml-2 text-[0.65rem] md:text-xs uppercase font-medium text-gray-600">Título do
          Evento <span class="text-red-500">*</span></label>
        <input type="text" id="e-title"
          class="bg-gray-50 border w-full border-gray-300 placeholder-gray-400 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
          required formControlName="name"
          [ngClass]="{ 'is-invalid': controlGroup.get('name')!.invalid && controlGroup.get('name')!.touched, 'is-valid': controlGroup.get('name')!.valid && controlGroup.get('name')!.touched }">
        <p class="text-[0.5em] text-start ml-2 text-gray-500 uppercase mt-1"> De 2 a 128 carateres. (campo
          obrigatório)</p>
      </div>

      <div class="mb-2 pt-3 mx-4 flex space-x-4">
        <div class="flex-1">
          <label for="e-time"
            class="block mb-1.5 text-start ml-2 text-[0.65rem] md:text-xs uppercase font-medium text-gray-600">Hora do
            Evento <span class="text-red-500">*</span></label>
          <input type="time" min="7:00" max="21:00" id="e-time"
            class="bg-gray-50 w-full border border-gray-300 placeholder-gray-400 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
            required formControlName="time"
            [ngClass]="{ 'is-invalid': controlGroup.get('time')!.invalid && controlGroup.get('time')!.touched, 'is-valid': controlGroup.get('time')!.valid && controlGroup.get('time')!.touched }">
          <p class="text-[0.5em] text-start ml-2 text-gray-500 uppercase mt-1"> Digite um tempo entre 7:00 e 21:00.
            (campo
            obrigatório)</p>
        </div>
        <div class="flex-1">
          <label for="e-client"
            class="block mb-1.5 text-start ml-2 text-[0.65rem] md:text-xs uppercase font-medium text-gray-600">Selecione
            um Cliente<span class="text-red-500">*</span></label>

          <div class="flex gap-2 items-center justify-center">
            <ion-skeleton-text [animated]="true" [hidden]="cOptionsLoaded"
              class="h-[41px] w-full rounded-md"></ion-skeleton-text>

            <ng-select class="w-full" [hidden]="!cOptionsLoaded" id="e-client" required formControlName="client" [compareWith]="compareFn"
              [searchFn]="clientSearchFn" placeholder="--- Selecione um cliente ---"
              [ngClass]="{ 'is-invalid-select': controlGroup.get('client')!.invalid && controlGroup.get('client')!.touched, 'is-valid-select': controlGroup.get('client')!.valid && controlGroup.get('client')!.touched }">
              <ng-option *ngFor="let option of clientOptions" [value]="option">{{option.name}}</ng-option>
            </ng-select>

            <ion-icon name="add-outline" (click)="openCEClientModal()" matTooltip="Adicionar Cliente"
              matTooltipPosition="below"
              class="p-1 !text-xl border cursor-pointer drop-shadow-md border-transparent rounded-md bg-blue-3880 !text-white duration-150 hover:bg-white hover:!text-blue-3880 hover:!border-blue-3880 shrink-0"></ion-icon>
          </div>
          <p class="text-[0.5em] text-start ml-2 text-gray-500 uppercase mt-1">(campo obrigatório)</p>
        </div>
      </div>

      <div class="mb-2 pt-3 mx-4">
        <label for="e-client"
          class="block mb-1.5 text-start ml-2 text-[0.65rem] md:text-xs uppercase font-medium text-gray-600">Selecione
          serviços associados<span class="text-red-500">*</span></label>

        <ion-skeleton-text [animated]="true" [hidden]="selectedServiceCheckboxes.size !== 0"
          class="h-[41px] w-full rounded-md"></ion-skeleton-text>

        <cdk-accordion *ngIf="selectedServiceCheckboxes.size !== 0" class="block w-full">
          <cdk-accordion-item #accordionItem="cdkAccordionItem" role="button" tabindex="0"
            [attr.id]="'accordion-header-services'" [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-services'">
            <div
              class="flex items-center justify-between text-gray-500 text-sm uppercase bg-gray-50 border border-gray-300 p-2.5 rounded-md cursor-pointer hover:bg-gray-100"
              (click)="accordionItem.toggle()">
              <span class="w-full">
                Clique para {{ accordionItem.expanded ? 'fechar' : 'expandir' }} os serviços
              </span>
              <ion-icon name="{{ accordionItem.expanded ? 'chevron-up-outline' : 'chevron-down-outline' }}"></ion-icon>
            </div>
            <div class="mt-2 p-2.5 border rounded-md border-gray-300" role="service-holde "
              [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-services'">
              <div class="grid grid-cols-1 sm:grid-cols-2 pt-2">
                <div class="flex flex-row mb-2 items-center justify-center" *ngFor="let option of serviceOptions">
                  <div class="w-fit min-w-[12rem] max-w-full">
                    <input type="checkbox" value="{{option.id}}" name="service-radio-group"
                      (change)="checkboxChange($event.target)"
                      class="w-4 h-4 rounded-full text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-1">
                    <label for="default-radio" class="ml-2 text-sm font-medium text-gray-900">{{option.name}}</label>
                  </div>
                </div>
              </div>
            </div>
          </cdk-accordion-item>
        </cdk-accordion>
        <div *ngIf="selectedServiceCheckboxes.size !== 0" class="mt-1 p-1.5">
          <span *ngIf="utilStripFn().length === 0" class=" w-full text-xs text-red-400 uppercase">*Nenhum
            serviço
            selecionado*</span>
          <div class="gap-1 mb-[0.75rem]">
            <span *ngFor="let key of utilStripFn()"
              class="bg-blue-100 cursor-default whitespace-nowrap text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded border border-blue-400">{{selectedServiceCheckboxes.get(key)?.name}}</span>
          </div>
          <span class="w-full text-xs text-gray-600 uppercase">Duração estimada <span
              class="text-gray-900 font-semibold">{{calculateEta()}}</span> minutos.</span>
        </div>
      </div>

      <div class="mb-2 pt-3 mx-4">
        <label for="e-worker"
          class="block mb-1.5 text-start ml-2 text-[0.65rem] md:text-xs uppercase font-medium text-gray-600">Selecione
          um Funcionário<span class="text-red-500">*</span></label>

        <ion-skeleton-text [animated]="true" [hidden]="wOptionsLoaded"
          class="h-[41px] w-full rounded-md"></ion-skeleton-text>

        <select [hidden]="!wOptionsLoaded" id="e-worker" required formControlName="workerID"
          [ngClass]="{ 'is-invalid': controlGroup.get('workerID')!.invalid && controlGroup.get('workerID')!.touched, 'is-valid': controlGroup.get('workerID')!.valid && controlGroup.get('workerID')!.touched }"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
          <option value='' selected disabled>--- Selecione um funcionário ---</option>
          <option *ngFor="let option of workersOptions" value=" {{option.id}}">{{option.name}}</option>
        </select>
        <p class="text-[0.5em] text-start ml-2 text-gray-500 uppercase mt-1">(campo obrigatório)</p>
      </div>

      <div class="mb-2 pt-3 mx-4">
        <label for="e-worker"
          class="block mb-1.5 text-start ml-2 text-[0.65rem] md:text-xs uppercase font-medium text-gray-600">Adicione
          uma nota sobre o evento</label>
        <textarea id="comment-zone" rows="4"
          class="block p-2.5 w-full min-h-[100px] text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500">
        </textarea>
        <p class="text-[0.5em] text-start ml-2 text-gray-500 uppercase mt-1">(campo opcional)</p>
      </div>
    </div>
    <ion-button [disabled]="utilStripFn().length === 0 ||
                            controlGroup.get('name')!.invalid || 
                            controlGroup.get('time')!.invalid || 
                            controlGroup.get('client')!.invalid || 
                            controlGroup.get('workerID')!.invalid || 
                            submiting" type="submit" class="w-64 mb-4">

      <ion-spinner name="circles" class="relative left-0" [hidden]="!submiting"></ion-spinner>
      <div [hidden]="submiting"> Adicionar Evento </div>
    </ion-button>
  </form>
</div>