<mat-drawer-container class="h-screen">
    <mat-drawer #drawer [mode]="drawerAction" position="end" style="width: 250px !important;">
        POR IMPLEMENTAR
    </mat-drawer>
    <mat-drawer-content class="h-full !flex !flex-col">
        <mat-progress-bar mode="query" [hidden]="!processing"></mat-progress-bar>
        <div data-attr="chip-holder" class="action-holder">
            <div class="flex w-full xl:w-fit justify-center gap-3">
                <button [disabled]="processing" class="menu-btn m-btn" (click)="switchMenuBtn(1)"
                    [ngClass]="{'m-btn-active': menuSelectedBtn == 1 }">{{menuToggles[1]}}</button>
                <button [disabled]="processing" class="menu-btn f-btn" (click)="switchMenuBtn(2)"
                    [ngClass]="{'f-btn-active': menuSelectedBtn == 2 }">{{menuToggles[2]}}</button>
                <button [disabled]="processing" class="menu-btn l-btn" (click)="switchMenuBtn(3)"
                    [ngClass]="{'l-btn-active': menuSelectedBtn == 3 }">{{menuToggles[3]}}</button>
                <button [disabled]="processing" class="menu-btn e-btn" (click)="switchMenuBtn(4)"
                    [ngClass]="{'e-btn-active': menuSelectedBtn == 4 }">{{menuToggles[4]}}</button>
            </div>
            <mat-divider class="!hidden xl:!block" [vertical]="true"></mat-divider>
            <div class="flex flex-col items-center sm:flex-row w-full xl:w-fit justify-center gap-3">
                <div class="flex gap-3 w-full sm:w-fit items-center justify-center">
                    <button [disabled]="processing" (click)="createPredefinedEvent()"
                        class=" lg-menu-btn flex justify-center items-center">
                        <ion-icon name="add-outline" class="mr-1"></ion-icon>
                        Criar Evento Predefinido
                    </button>
                    <button [disabled]="processing" (click)="switchMenuBtn(menuSelectedBtn, true)"
                        class="lg-menu-btn flex justify-center items-center">
                        <ion-icon name="reload-outline" class="mr-1"></ion-icon>
                        Recarregar
                    </button>
                </div>
                <mat-divider class="!hidden sm:!block h-full" [vertical]="true"></mat-divider>
                <div class="flex gap-3 w-full sm:w-fit items-center justify-center">
                    <button [disabled]="processing" class="toggler" (click)="drawer.toggle()" #toggleMenu="matTooltip"
                        [matTooltip]="toggle.tooltip" matTooltipPosition="below">
                        <ion-icon [name]="toggle.icon" class="text-white"></ion-icon>
                    </button>
                    <button [matMenuTriggerFor]="menu" [disabled]="processing" class="toggler"
                        #settingsMenu="matTooltip" [matTooltip]="settings.tooltip" matTooltipPosition="below">
                        <ion-icon [name]="settings.icon" class="text-white"></ion-icon>
                    </button>

                    <mat-menu #menu="matMenu" xPosition="before" yPosition="below" class="!mt-2 bg-white !rounded-md">
                        <div
                            class="flex items-center m-2 rounded-md text-gray-500 duration-150 cursor-pointer hover:text-white hover:bg-blue-3880 text-sm p-2 mb-1.5">
                            <ion-icon name="settings" class="mr-2 hover:!text-white"></ion-icon>
                            <ion-label class="uppercase">Definições do calendário</ion-label>
                        </div>
                        <mat-divider class="!mx-2"></mat-divider>
                        <div (click)="manageWorkers()"
                            class="flex items-center m-2 rounded-md text-gray-500 duration-150 cursor-pointer hover:text-white hover:bg-blue-3880 text-sm p-2 mt-1.5">
                            <ion-icon name="cut" class="mr-2"></ion-icon>
                            <ion-label class="uppercase">Gestor de funcionários</ion-label>
                        </div>
                    </mat-menu>
                </div>
            </div>
        </div>
        <div class="w-full h-fit overflow-auto">
            <div class="min-w-[768px] h-fit shrink-0 mx-8 my-4">
                <full-calendar #fCalendar class="h-full w-full min-h-[768px]" [options]="calendarOptions"
                    [events]="loadedEvents">
                </full-calendar>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>


<div wire:loading [hidden]="!processing"
    class="absolute inset-0 w-full z-[9999] overflow-hidden bg-gray-900 opacity-75 flex flex-col items-center justify-center">
    <svg aria-hidden="true" class="mr-2 w-12 h-12 animate-spin text-gray-600 fill-blue-600" viewBox="0 0 100 101"
        fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor" />
        <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill" />
    </svg>
    <h2 class="text-center uppercase text-white text-base tracking-wider mt-1 font-medium">{{overlay.title}}</h2>
    <p class="w-1/3 text-center uppercase text-white text-sm mt-1">{{overlay.desc}}</p>
</div>