<mat-drawer-container class="h-screen">
    <mat-drawer #drawer [mode]="drawerAction" position="end" style="width: 250px !important;">
        POR IMPLEMENTAR
    </mat-drawer>
    <mat-drawer-content class="h-full !flex flex-col">
        <mat-progress-bar mode="query" [hidden]="!processing"></mat-progress-bar>
        <div data-attr="chip-holder"
            class="flex flex-col md:flex-row w-full justify-center gap-3 uppercase py-4 drop-shadow-sm bg-white border-b border-slate-300">
            <div class="flex w-full md:w-fit justify-center gap-3">
                <button [disabled]="processing" class="menu-btn m-btn" (click)="switchMenuBtn(1)"
                    [ngClass]="{'m-btn-active': menuSelectedBtn == 1 }">{{menuToggles[1]}}</button>
                <button [disabled]="processing" class="menu-btn f-btn" (click)="switchMenuBtn(2)"
                    [ngClass]="{'f-btn-active': menuSelectedBtn == 2 }">{{menuToggles[2]}}</button>
            </div>
            <mat-divider class="!hidden md:!block" [vertical]="true"></mat-divider>
            <div class="flex gap-3 w-full md:w-fit item-center justify-center">
                <button [disabled]="processing" (click)="promptCreateClient()"
                    class=" lg-menu-btn flex justify-center items-center">
                    <ion-icon name="add" class="mr-1"></ion-icon>
                    Adicionar Cliente
                </button>
                <button [disabled]="processing" (click)="switchMenuBtn(menuSelectedBtn, true)"
                    class=" lg-menu-btn flex justify-center items-center">
                    <ion-icon name="reload" class="mr-1"></ion-icon>
                    Recarregar Tabela
                </button>
                <mat-divider [vertical]="true"></mat-divider>
                <button [disabled]="processing" class="toggler" (click)="drawer.toggle()" #toggleMenu="matTooltip"
                    [matTooltip]="toggle.tooltip" matTooltipPosition="below">
                    <ion-icon [name]="toggle.icon" class="text-white"></ion-icon>
                </button>
            </div>
        </div>

        <div class="flex flex-row flex-1 w-full overflow-auto">
            <div class="flex-1 min-w-[900px] min-h-[500px] mx-4 my-4">
                <ag-grid-angular class="w-full h-full ag-theme-alpine" [columnDefs]="columnDefs"
                    [defaultColDef]="defaultColDef" [rowSelection]="'single'" [animateRows]="true" [pagination]="true"
                    [paginationPageSize]="20" [localeText]="AG_GRID_PT_LANG"
                    (gridReady)="onGridReady()"></ag-grid-angular>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>