ion-icon.selected {
    color: var(--ion-color-primary) !important;
}

ion-icon.selected:hover {
    background-color: transparent !important;
    border-color: transparent !important;
}


.fc {
    background-color: white !important;
}   