<!--
<ion-modal #WorkersMod>
  <ng-template>
    <ion-header mode="ios">
      <ion-toolbar color="primary" class="!p-2">
        <ion-buttons slot="end">
          <ion-button [strong]="false" class="modal-button-cancel"
            (click)="WorkersMod.dismiss(); selectedRow=undefined;">Voltar</ion-button>
        </ion-buttons>
        <ion-title>
          <h3 class="modal-title sm:text-md">Funcionários</h3>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="h-full flex flex-col">
        <div class="flex-[8_0_0] shrink-0 bg-white border overflow-y-auto">
          <ag-grid-angular style="width: 100%; height: 100%" class="ag-theme-alpine" [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef" [rowSelection]="'multiple'" [domLayout]="'autoHeight'"
            [rowSelection]="'single'" [suppressCellSelection]="true" [animateRows]="true"
            (gridReady)="onGridReady($event)" (rowClicked)="onRowClicked($event)">
          </ag-grid-angular>
        </div>
        <div class="flex-1 shrink-0 p-2 flex items-center justify-center space-x-2 sm:space-x-4"
          data-attr="action-holder">
          <ion-button class="w-64 sm:w-40 text-xs sm:text-sm">Adicionar</ion-button>
          <ion-button class="w-64 sm:w-40 text-xs sm:text-sm" color="success"
            [disabled]="selectedRow == undefined">Editar</ion-button>
          <ion-button class="w-64 sm:w-40 text-xs sm:text-sm" color="danger" [disabled]="selectedRow == undefined"
            (click)="deleteWorker()">Eliminar</ion-button>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
-->