<div class="flex min-w-[40rem] min-h-[20rem] flex-col justify-center m-2 shrink p-2">

  <div data-id="title-holder" class="flex-col justify-center">
    <h2 class="mx-2 mb-2 px-4 py-2 uppercase text-gray-500 border-b border-gray-300">
      {{componentTitle}}
    </h2>

    <div class="flex-1 h-fit m-2 p-1.5">
      <ag-grid-angular class="w-full h-[357px] ag-theme-alpine" [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef" [rowSelection]="'single'" [animateRows]="true" [localeText]="AG_GRID_PT_LANG"
        (gridReady)="onGridReady()"></ag-grid-angular>
    </div>
  </div>

  <div [hidden]="!hasCalendarChanges" data-id="pending-changes-panel" class="flex-col justify-center">
    <h2 class="mx-2 mb-2 px-4 py-2 uppercase text-gray-500 border-b border-gray-300">
      {{pedingChangesTitle}} <span class="text-red-500">(*)</span>
    </h2>

    <div class="flex-1 h-fit m-2 p-1.5 mb-4 flex-col">
      <ng-container *ngComponentOutlet="PendingChangesComponent"></ng-container>
    </div>
  </div>

  <div class="flex items-center justify-center border-t border-gray-300 p-4 gap-2">
    <ion-button [disabled]="isProcessing" (click)="addWorker()" class="w-64">
      Adicionar funcionário</ion-button>
    <ion-button [disabled]="pendingWorkerChanges.size === 0 || isProcessing" (click)="storeAllChanges()" class="w-64">
      Guardar Alterações</ion-button>
    <div class="h-[36px] w-[1px] bg-gray-300"></div>
    <ion-button (click)="onGridReady()" matTooltip="Recarregar Tabela"><ion-icon name="reload-outline"></ion-icon>
    </ion-button>
  </div>
</div>