* {
    background-color: var(--tw-gray-100);
}

ion-menu {
    --side-min-width: fit-content;
    --side-max-width: 235px;
}

ion-menu.md ion-item.selected ion-icon,
ion-menu.ios ion-item.selected ion-icon,
ion-menu.md ion-item.selected ion-label,
ion-menu.ios ion-item.selected ion-label {
    color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon,
ion-menu.ios ion-item ion-icon {
    margin-right: 1rem;
}

ion-menu.md ion-item ion-label,
ion-menu.ios ion-item ion-label {
    color: rgb(107 114 128);
}