<!--
<ion-modal #WorkerMod>
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button [strong]="true" class="text-gray-300 text-xs">Cancelar</ion-button>
        </ion-buttons>
        <ion-title class="text-sm uppercase text-center font-semibold">Funcionários</ion-title>
        <ion-buttons slot="end">
          <ion-button [strong]="true" class="text-gray-300 text-xs">Confirmar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="absolute inset-0 top-12 flex flex-col space-y-8 content-center m-4 justify-start">

      <ion-list class="bg-gray-900" [inset]="true" *ngFor="let worker of workers">
        <ion-item>
          <ion-label>Pokémon Yellow</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Mega Man X</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>The Legend of Zelda</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Pac-Man</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Super Mario World</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ng-template>
</ion-modal>
-->