ion-item.selected {
    --ion-text-color: var(--ion-color-primary);
    border-color: var(--ion-color-primary) !important;
}

ion-item.selected>ion-icon {
    color: var(--ion-color-primary) !important;
}