ion-item.selected {
    --ion-text-color: var(--ion-color-primary);
    border-color: var(--ion-color-primary) !important;
}

ion-item.selected>ion-icon {
    color: var(--ion-color-primary) !important;
}

ion-menu {
    --width: 240px;
    --max-width: 240px;
    --min-width: 240px;
}

.split-pane-ios.split-pane-visible>.split-pane-side,
.split-pane-md.split-pane-visible>.split-pane-side {
    max-width: 240px;
    min-width: 240px;
}