<div class="py-8 px-4 flex flex-col gap-4">
  <div class="flex gap-2 items-center justify-start">
    <ion-icon name="person-outline" class="p-2 !text-gray-500 shrink-0 rounded-full border border-gray-500"></ion-icon>
    <ion-label
      class="text-sm uppercase text-gray-700 p-2 border rounded-md border-gray-500 w-full">{{modalClient.name}}</ion-label>
  </div>
  <div class="flex gap-2 items-center justify-start">
    <ion-icon name="male-female-outline"
      class="p-2 !text-gray-500 shrink-0 rounded-full border border-gray-500"></ion-icon>
    <ion-label
      class="text-sm uppercase text-gray-700 p-2 border rounded-md border-gray-500 w-full">{{modalClient.sex}}</ion-label>
  </div>
  <div class="flex gap-2 items-center justify-start">
    <ion-icon name="map-outline" class="p-2 !text-gray-500 shrink-0 rounded-full border border-gray-500"></ion-icon>
    <ion-label
      class="text-sm uppercase text-gray-700 p-2 border rounded-md border-gray-500 w-full">{{modalClient.address ?
      modalClient.address : undefinedText}}</ion-label>
  </div>
  <div class="flex gap-2 items-center justify-start">
    <ion-icon name="calendar-number-outline"
      class="p-2 !text-gray-500 shrink-0 rounded-full border border-gray-500"></ion-icon>
    <ion-label
      class="text-sm uppercase text-gray-700 p-2 border rounded-md border-gray-500 w-full">{{modalClient.birthdate ?
      modalClient.birthdate : undefinedText}}</ion-label>
  </div>
  <div class="flex gap-2 items-center justify-start">
    <ion-icon name="phone-portrait-outline"
      class="p-2 !text-gray-500 shrink-0 rounded-full border border-gray-500"></ion-icon>
    <ion-label
      class="text-sm uppercase text-gray-700 p-2 border rounded-md border-gray-500 w-full">{{modalClient.phonenumber ?
      modalClient.phonenumber : undefinedText}}</ion-label>
  </div>
  <div class="flex gap-2 items-center justify-start">
    <ion-icon name="logo-facebook" class="p-2 !text-gray-500 shrink-0 rounded-full border border-gray-500"></ion-icon>
    <ion-label
      class="text-sm uppercase text-gray-700 p-2 border rounded-md border-gray-500 w-full">{{modalClient.facebook ?
      modalClient.facebook : undefinedText}}</ion-label>
  </div>
  <div class="flex gap-2 items-center justify-start">
    <ion-icon name="logo-instagram" class="p-2 !text-gray-500 shrink-0 rounded-full border border-gray-500"></ion-icon>
    <ion-label
      class="text-sm uppercase text-gray-700 p-2 border rounded-md border-gray-500 w-full">{{modalClient.instagram ?
      modalClient.instagram : undefinedText}}</ion-label>
  </div>
</div>