<div class="w-fit m-auto h-full items-center justify-center">
    <ion-segment value="{{state == 1 ? 'active': 'inactive'}}" mode='ios' class="centered"
        [ngClass]="{'is-active': state == 1, 'is-inactive': state == 0}">
        <ion-segment-button (click)="state = 1; stateBehaviourSub.next(state)" value="active">
            <ion-label>Ativo</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="state = 0; stateBehaviourSub.next(state)" value="inactive">
            <ion-label>Inativo</ion-label>
        </ion-segment-button>
    </ion-segment>
</div>