<div class="w-full h-full flex items-center justify-center">
    <ion-icon name="reload-outline" color="primary" (click)="reload()"
        class="!text-lg cursor-pointer duration-150 hover:scale-105 p-1.5 hover:border hover:border-gray-300 bg-white rounded-full mr-1"
        mat-raised-button #reloadIcon="matTooltip" [matTooltip]="'Recarregar fila'"
        matTooltipPosition="below"></ion-icon>
    <ion-icon name="save-outline" color="primary" (click)="store()"
        class="!text-lg cursor-pointer duration-150 hover:scale-105 p-1.5 hover:border hover:border-gray-300 bg-white rounded-full mr-1"
        mat-raised-button #saveIcon="matTooltip" [matTooltip]="'Guardar alterações'"
        matTooltipPosition="below"></ion-icon>
    <div [hidden]="noChanges" class="text-red-500 text-md" mat-raised-button #changed="matTooltip"
        [matTooltip]="'Alterações pendentes'" matTooltipPosition="below">(*)</div>
</div>`