/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import "@ag-grid-community/styles/ag-grid.css";
@import "@ag-grid-community/styles/ag-theme-alpine.css";

@import "@ng-select/ng-select/themes/default.theme.css";


* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


.fc-day {
    background-color: white !important;
}

.fc-daygrid-day-top{
    @media only screen and (max-width: 600px) {
        font-size: 0.7rem!important;
    }
}

.fc-timegrid-slot-label-cushion{
    @media only screen and (max-width: 600px) {
        font-size: 0.7rem!important;
    }
}

.fc-col-header-cell-cushion {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;
    @media only screen and (max-width: 600px) {
        font-size: 0.6rem!important;
    }
}

.fc-next-button {
    all: unset !important;
    background: white !important;
    color: black !important;
    padding: 0.3rem !important;
    border: solid !important;
    border-width: 1px !important;
    border-left-width: 0px !important;
    border-color: rgb(209 213 219) !important;
    border-top-right-radius: 0.75rem !important;
    border-bottom-right-radius: 0.75rem !important;
    cursor: pointer !important;
    transition-duration: 200ms !important;

    @media only screen and (max-width: 600px) {
        padding: 0.1rem!important;
        border-radius: 0.3rem !important;
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
        border-left-width: 1px !important;
        border-right-width: 1px !important;
      }
}

.fc-next-button:hover {
    background: rgb(75 85 99) !important;
    color: white !important;
}

.fc-prev-button {
    all: unset !important;
    background: white !important;
    color: rgb(75 85 99) !important;
    padding: 0.3rem !important;
    border: solid !important;
    border-width: 1px !important;
    border-color: rgb(209 213 219) !important;
    border-top-left-radius: 0.75rem !important;
    border-bottom-left-radius: 0.75rem !important;
    cursor: pointer !important;
    transition-duration: 200ms !important;
    
    @media only screen and (max-width: 600px) {
        padding: 0.1rem!important;
        border-radius: 0.3rem !important;
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
        border-left-width: 1px !important;
        border-right-width: 1px !important;
      }
}

.fc-prev-button:hover {
    background: rgb(75 85 99) !important;
    color: white !important;
}

.fc-header-toolbar {
    margin-left: 0.8rem !important;
    margin-right: 0.8rem !important;
    margin-bottom: 0.8rem !important;

    @media only screen and (max-width: 600px) {
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
        margin-bottom: 0.5rem !important;
      }
}

.fc-today-button {
    all: unset !important;
    margin-left: 0.5rem !important;
    padding: 0.3rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    background: white !important;
    border: solid !important;
    border-radius: 0.3rem !important;
    border-width: 1px !important;
    border-color: rgb(209 213 219) !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    font-size: 0.8rem !important;
    cursor: pointer !important;
    transition-duration: 200ms !important;

    @media only screen and (max-width: 600px) {
        margin-top: 2px!important;
        margin-left: 0px!important;

      }
}

.fc-today-button:hover {
    background: rgb(75 85 99) !important;
    color: white !important;
}

.fc-today-button:disabled {
    background-color: var(--tw-gray-100) !important;
    cursor: no-drop !important;
}

.fc-today-button:disabled:hover {
    background-color: var(--tw-gray-100) !important;
    color: black !important;
}

.fc-toolbar-title {
    all: unset !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;

    @media only screen and (max-width: 600px) {
        font-size: 1rem!important;
        margin-left: 0.8rem!important;
        margin-right: 0.8rem!important;
        text-align: center!important;
        white-space: wrap!important;
        padding: 0.2rem!important;
      }
}

.fc-dayGridMonth-button {
    all: unset !important;
    padding: 0.3rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    background: white !important;
    border: solid !important;
    border-top-left-radius: 0.3rem !important;
    border-bottom-left-radius: 0.3rem !important;
    border-width: 1px !important;
    border-color: rgb(209 213 219) !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    font-size: 0.8rem !important;
    cursor: pointer !important;
    transition-duration: 200ms !important;

    @media only screen and (max-width: 600px) {
        border-radius: 0.3rem !important;
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
    }
}

.fc-dayGridMonth-button:hover {
    background: rgb(75 85 99) !important;
    color: white !important;
}

.fc-timeGridWeek-button {
    all: unset !important;
    padding: 0.3rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    background: white !important;
    border: solid !important;
    border-width: 1px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-color: rgb(209 213 219) !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    font-size: 0.8rem !important;
    cursor: pointer !important;
    transition-duration: 200ms !important;

    @media only screen and (max-width: 600px) {
        border-radius: 0.3rem !important;
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
        border-left-width: 1px !important;
        border-right-width: 1px !important;
    }
}


.fc-timeGridWeek-button:hover {
    background: rgb(75 85 99) !important;
    color: white !important;
}

.fc-button-group {
    @media only screen and (max-width: 600px) {
        display: flex!important;
        flex-direction: column!important;
        gap: 2px;
        width: 75px!important;
    }
}

.fc-timeGridDay-button {
    all: unset !important;
    padding: 0.3rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    background: white !important;
    border: solid !important;
    border-width: 1px !important;
    border-color: rgb(209 213 219) !important;
    border-top-right-radius: 0.3rem !important;
    border-bottom-right-radius: 0.3rem !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    font-size: 0.8rem !important;
    cursor: pointer !important;
    transition-duration: 200ms !important;

    @media only screen and (max-width: 600px) {
        border-radius: 0.3rem !important;
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
    }
}

.fc-timeGridDay-button:hover {
    background: rgb(75 85 99) !important;
    color: white !important;
}

.fc-timeGridDay-button.fc-button-active {
    background: rgb(75 85 99) !important;
    color: white !important;
}

.fc-timeGridWeek-button.fc-button-active {
    background: rgb(75 85 99) !important;
    color: white !important;
}

.fc-dayGridMonth-button.fc-button-active {
    background: rgb(75 85 99) !important;
    color: white !important;
}


.fc-timegrid-axis-cushion {
    all: unset !important;
    font-size: 0.8rem !important;
    text-transform: uppercase !important;
    text-align: center !important;
    white-space: pre-line !important;
}

.not-selectable:focus {
    border: none !important;
}

.ag-cell-focus,
.ag-cell-no-focus {
    border: none !important;
}

.no-border.ag-cell:focus {
    border: none !important;
    outline: none;
}

.centered {
    @apply flex w-full mt-1
}

.ag-header-cell-label {
    @apply w-full flex items-center justify-center
}


/* Define the animation */
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    10%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    80% {
        transform: translateX(10px);
    }

    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }

    40%,
    60% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Define the animation */
@keyframes valid {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.is-invalid {
    @apply duration-300 ease-in-out bg-red-100 border-red-500;

    animation: shake 1s;
    animation-iteration-count: 1;
}

.is-valid {
    @apply duration-300 ease-in-out bg-green-100 border-green-500;
    animation: valid 0.5s;
    animation-iteration-count: 1;
}

.is-active {
    @apply bg-green-200
}

.is-inactive {
    @apply bg-red-200
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.menu-btn {
    all: none;
    @apply w-32 h-10 text-sm uppercase text-white p-1.5 drop-shadow-lg rounded-md bg-gray-500 duration-150 ease-in-out
}

.lg-menu-btn {
    all: none;
    background-color: var(--ion-color-primary);
    @apply w-fit h-10 text-sm uppercase text-white p-2 drop-shadow-lg rounded-md duration-150 ease-in-out hover:scale-105
}

.m-btn {
    @apply hover:bg-blue-500 hover:scale-105 checked:bg-blue-500
}

.f-btn {
    @apply hover:bg-pink-500 hover:scale-105
}

.l-btn {
    @apply hover:bg-yellow-500 hover:scale-105
}

.e-btn {
    @apply hover:bg-green-500 hover:scale-105
}

.m-btn-active{
    @apply bg-blue-500
}

.f-btn-active{
    @apply bg-pink-500
}

.e-btn-active{
    @apply bg-green-500
}

.l-btn-active{
    @apply bg-yellow-500
}


.menu-btn:disabled, .lg-menu-btn:disabled, .toggler:disabled {
    @apply bg-gray-700 hover:scale-100 duration-150 ease-in-out
}

.toggler {
    all: none;
    @apply w-10 h-10 flex items-center justify-center p-1.5 bg-blue-3880 rounded-md hover:scale-105
}

.fc-daygrid-day-frame{
    @media only screen and (max-width: 600px) {
        font-size: 0.75rem!important; 
        line-height: 1rem!important;
    }
}


mat-dialog-container[id*='mat-dialog-']{
    padding: 0px !important;
    margin: 1.5rem 0px !important;
}

.rounded-grid{
    border-radius: 0.375rem!important;
}

.ag-root-wrapper{
    border-radius: 0.375rem!important;

    @media only screen and (max-width: 600px) {
        border-radius: 0px !important;
    }
}


.ag-paging-row-summary-panel, .ag-paging-page-summary-panel{
    @media only screen and (max-width: 600px) {
        font-size: small!important;
    }
}

.action-holder{
 @apply flex flex-col xl:flex-row w-full drop-shadow-sm bg-white justify-center gap-3 xl:gap-2 uppercase border-b border-slate-300 py-4
}

.mat-menu-content {
    padding: 0px!important;
}


::-webkit-scrollbar {
    width: 0.5rem; 
    height: 0.5rem; 
  }
  
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 
  }

  body > div.cdk-overlay-container > div.cdk-global-overlay-wrapper{
    overflow: auto;
  }






/*
*
*
* THIS SECTION IS FOR STYLING INPUTS
*
*/

input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}


input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}


/*
*
*
* THIS SECTION IS FOR STYLING NG SELECTS
*
*/

ng-select div.ng-select-container{
    background-color: rgb(249 250 251)!important;
    border-width: 1px!important;
    width: 100%!important;
    border-color: rgb(209 213 219)!important;
    color: rgb(156 163 175)!important;
    border-radius: 0.5rem/* 8px */!important;
    border-color: rgb(59 130 246)!important;
}

div.ng-input{
    top: 10px!important;
    bottom: 10px!important;
}

div.ng-input input, div.ng-placeholder{
    font-size: 0.875rem!important;
    line-height: 1.25rem!important;
}

.ng-select.ng-select-single .ng-select-container{
    height: 43px!important;
}

span.ng-value-label{
    color: rgb(17 24 39)!important;
    font-size: 0.875rem!important;
    line-height: 1.25rem!important;
}

ng-select.is-valid-select div.ng-select-container{
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)!important;
    transition-duration: 300ms!important;
    border-color: rgb(34 197 94)!important;
    background-color: rgb(220 252 231)!important;
    animation: valid 0.5s!important;
    animation-iteration-count: 1!important;
}

ng-select.is-invalid-select div.ng-select-container{
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)!important;
    transition-duration: 300ms!important;
    background-color: rgb(254 226 226 / var(--tw-bg-opacity))!important;
    border-color: rgb(239 68 68 / var(--tw-border-opacity))!important;
    animation: shake 1s!important;
    animation-iteration-count: 1!important;
}