<div class="w-full h-full flex items-center justify-center">
    <ion-icon name="create-outline" color="primary" (click)="promptEditClient()"
        class="!text-lg cursor-pointer duration-150 hover:scale-105 p-1.5 hover:border hover:border-gray-300 bg-white rounded-full mr-1"
        mat-raised-button #pencilIcon="matTooltip" [matTooltip]="'Editar cliente'"
        matTooltipPosition="below"></ion-icon>
    <ion-icon name="trash-outline" color="danger" (click)="promptDeleteClient()"
        class="!text-lg cursor-pointer duration-150 hover:scale-105 p-1.5 hover:border hover:border-gray-300 bg-white rounded-full mr-1"
        mat-raised-button #deleteIcon="matTooltip" [matTooltip]="'Eliminar cliente'"
        matTooltipPosition="below"></ion-icon>
</div>`